@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 33, 33;
    --background-end-rgb: 33, 33, 33;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: repeating-linear-gradient(45deg, #1a1a1e 0, #1a1a1e 2.5px, transparent 0, transparent 50%);
background-size: 11px 11px;
background-color: #0f0f28;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
